* {
    display: block;
}
  
:root {
  --primary: rgb(157, 213, 169);
  --secondary: rgb(87, 123, 87);
  --tertiary: rgb(197, 190, 190);
  --complementer: rgb(197, 115, 129);
} 
  
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--primary);
}
  
header {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary);
  padding: 10px, 0, 10px, 0
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: end; 
  align-items: flex-end;
  margin:15px;
  padding:10px;  
}
  
nav a {
  font-size: large;
  text-decoration: none;
  margin-right: 15px;
  background-color: var(--complementer);
  background-position: bottom;
  background-repeat: no-repeat;
}
  
nav a:hover {
  font-size: large;
  text-decoration: underline;
  color: var(--secondary);
} 
  
h1 {
  font-size: 200%;
  font-weight: bold;
  padding: 15px;
  margin-left: 0;
  margin-right: 15px;
  background-color: var(--complementer);
  background-position: bottom;
  background-repeat: no-repeat;
}

.hero-banner 
  height: 8em;
  background-color: var(--secondary);
  background-image: url(../images/02-hero-bg.jpg);
  background-blend-mode:soft-light;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  
.hero-banner h2 {
  color: var(--secondary);
  background-color: var(--tertiary);
  margin: 0;
  padding: 0 5px 5px 5px;
  font-size: 200%;
  display: inline;
}

img {padding:10px;}

.page-section {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 10px;
  border-right: 5px solid var(--secondary); 
  font-size: 200%;
  line-height: 1.1;
}
  
.page-section > div {
flex: 0 0 77%;
}

.page-section p {
  margin-bottom: 20px;
}



  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  