* {
    display: block;
  }
  
  :root {
    --primary: rgb(157, 213, 169);
    --secondary: rgb(87, 123, 87);
    --tertiary: rgb(197, 190, 190);
    --complementer: rgb(197, 115, 129);
  } 
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
  